
  <body>   
    <p>   
      <%if @winner == nil %>
        <%= "Draw!" %>
          <% if session[:num_player] == 2%>
          <%= "score: #{@name} #{@score}"%>
          <a id="play-again" href='/two_player_pick'>Play Again</a>
        <% else %>
          <%= "score: #{@name} #{@score}"%>
          <a id="play-again" href='/one_player_pick'>Play Again</a>   
        <%end%>

      <%else%>
      
        <%= "#{@winner.name} Wins" %>
        <% if session[:num_player] == 2%>
          <%= "score: #{@name} #{@score}"%>
          <a id="play-again" href='/two_player_pick'>Play Again</a>
        <% else %>
          <%= "score: #{@name} #{@score}"%>
          <a id="play-again" href='/one_player_pick'>Play Again</a>   
        <%end%>
      <%end%>
    </p>

    
  </body>
