
  <body>
    <h1 class="win_h1">
      
      <%if @winner == nil %>
        <%= "Draw!" %>
      <%else%>
          <% if @winner.name == "You"%>
            <%= "#{@winner.name} win" %> </br>
          <% else %>
            <%= "#{@winner.name} wins" %> </br>
          <%end%>
        <%= "#{@winner.name} picked #{@winner.pick}" %></br>
        <%end%>

        <% if @player1_pick%>
          <%= "Player1 picked#{@player1_pick}" %> </br>
          <%= "Player2 picked#{@player2_pick}" %> </br>
        <%end%>


      <p>

      <a id="play-again" href='/pick'>Play Again</a>
      </p>

    </h1> 
  </body>
