<div id="results">
  <%="Your opponent, #{opponent_name(@player)}, picked #{opponent_pick(@player)}"%><br>
  <%="You picked #{@player.pick}"%><br>


<div id="winner">
  <% if @winner == :draw%>
    <%= "DRAW" %>
  <%else%>
    <%="#{@winner.name} Wins"%><br>
  <%end%><br>
</div>

<div id="score">
  <p>Score:<p>
    <%@score.each do |name, games| %>
      <div class="score"><%= "#{name} : #{games.to_s}" %></div>
  <%end%>
</div>

<p>Two Players<a id="play-again" href='/reset_game'>Play Again </a>- Do you dare to challenge the completely randomized selection of an actual person?</p>

<p>Single Player <a id="play-again" href='/'>Play Again </a>- Do you dare to challenge the completely randomized selection of a machine?</p>  

</div>