<div class="container" id="results">

  <div class="jumbotron" id="winner">
    <% if @winner == :draw%>
      <%= "DRAW" %>
    <%else%>
      <%="#{@winner.name} Wins"%><br>
    <%end%><br>
    <p class="picks col-md-6">
      <%="Your opponent picked #{opponent_pick(@player)}"%>
    </p>
    <p class="picks col-md-6">
      <%="You picked #{@player.pick}"%>
    </p>
  </div>



  <div class="col-md=11 col-md-offset-1" id="score">
    <h3>Score:</h3>
      <%@score.each do |name, games| %>
        <div class="score"><%= "#{name} : #{games.to_s}" %></div>
    <%end%>
  </div>
    <br>

  <div class="col-md=11 col-md-offset-1" id="links">
    <p>Single Player -<a id="play-again" href='/'> Play Again </a>- Do you dare to challenge the completely randomized selection of a machine?</p> 

    <p>Two Players -<a id="play-again" href='/reset_game'> Play Again </a>- Do you dare to challenge the completely randomized selection of an actual person?</p>
  </div> 

</div>