<div id="results">
  <%="Your opponent, #{opponent_name(@player)}, picked #{opponent_pick(@player)}"%><br>
  <%="You picked #{@player.pick}"%><br>
</div>

<div id="winner">
  <% if @winner == :draw%>
    <%= "DRAW" %>
  <%else%>
    <%= pluralizer(@winner.name, "#{@winner.name} Win")%><br>
  <%end%><br>
</div>

<div id="score">
  <p>Score:<p>
    <%@score.each do |name, games| %>
      <div class="score"><%= "#{name} : #{games.to_s}" %></div>
  <%end%>
</div>

<p><a id="play-again" href='/reset_game'>Play Again</a></p>  